@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0 auto;
}

html,body{overflow-y: scroll; }

.topbar-container {
	width: 80vw;
}

.topbar {
  background: #000;
}

.topbar::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  position: relative;	
  width: 4vw;
  height: auto;

}

nav {
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 3vw;
    padding-top: 0.4vw;
  
    position: relative;
    text-align: center;
    font-size: 0.8vw;
    line-height: 3vw;
}

nav a {
    color: #fff;
    text-decoration: none;
}
 
html {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.footer {
    opacity: 5vw;
    text-align: center;
    font-size: 0.7vw;
    margin-top: 19vw;
}

.error h1{
    font-size: 4vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    transition: all ease-in 0.3s;
}

.error p {
    font-size: 1.5vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    transition: all ease-in 0.3s;
}

.error p:hover {
    font-size: 1.7vw;
    color: red;
}

.error {
    text-align: center;
    margin-top: 10vw;
}

.error h1:hover{
    font-size: 5vw;
    color: red;
}