html {
    background-color: black;
    color: white;
}

body{animation: 1.5s ease-out 0s 1 FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.disclaimer a, .disclaimer a:visited, .disclaimer a:hover, .disclaimer a:active {
  color: inherit;
  color: #0000FF;
}