@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0 auto;
}

html,body{overflow-y: scroll; }

.topbar-container {
	width: 80vw;
}

.topbar {
  background: #000;
}

.topbar::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  position: relative;	
  width: 4vw;
  height: auto;

}

nav {
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 3vw;
    padding-top: 0.4vw;
  
    position: relative;
    text-align: center;
    font-size: 0.8vw;
    line-height: 3vw;
}

nav a {
    color: #fff;
    text-decoration: none;
}
 
html {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.home-info {
    float: right;
    text-align: center;
    font-size: 1vw;
    margin-right: 25vw;
    margin-top: 15vw;
}

.showcase {
    height: 25vw;
    margin-top: 7vw;
    margin-left: 27vw;
}

.footer {
    opacity: 5%;
    text-align: center;
    font-size: 0.7vw;
    margin-top: 19vw;
}